h1{
    font-family: 'Merriweather';
    line-height: 1.5;
}
h2{
    font-family: 'Merriweather';
    line-height: 1.5;

}
h3{
    font-family: 'Merriweather';
    line-height: 1.5;
}
h4{
    font-family: 'Merriweather';
    line-height: 1.5;
}
p{
    font-family: 'Ubuntu';
    line-height: 1.5;
}
.white-text{
    color: white;
}
.navbar{
    background-color: #393c3d;
    padding: 0%;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-brand{
    color: #DBE2EF;
    font-weight: bold;
    font-size: 1.5rem;
}
.first-container{
    background-image: url("../images/backgrund1.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    padding:3%;
}
.profile-picture{
    padding:10%;
    padding-bottom: 3%;
    width: 400px;
}
.telephone{
    width: 300px;
    padding-left: 10%;
}
.bio{
    padding:10%;
}
.second-container{
    background-color: rgb(248, 241, 231);
}