h1{
    font-family: 'Merriweather';
    line-height: 1.5;
}
h2{
    font-family: 'Merriweather';
    line-height: 1.5;

}
h3{
    font-family: 'Merriweather';
    line-height: 1.5;
}
h4{
    font-family: 'Merriweather';
    line-height: 1.5;
}
p{
    font-family: 'Ubuntu';
    line-height: 1.5;
}
.white-text{
    color: white;
}
.navbar{
    background-color: #393c3d;
    padding: 0%;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-brand{
    color: #DBE2EF;
    font-weight: bold;
    font-size: 1.5rem;
}
.first-tab{
    margin:0;
}
.first-container{
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 180vh;
    padding: 3%;
    margin: 0;
}
.profile-picture{
    padding:15%;
    padding-bottom: 3%;
    width: 300px;
}
.telephone{
    width: 300px;
    padding-left: 15%;
    margin: 0;
}
.first-side{
    margin: 0;
    padding:0%;
}
.intro{
    padding:15% 3%;
    margin: 0;
    text-align: center;
}
.bio{
    padding: 5%;
    width: 100%;
}
.second-container{
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    padding: 3%;
    padding-top: 0;
    margin: 0;

}
.music-header{
    text-align: center;
    padding: 15%;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 60.25%; 
    height: 0;
  }
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel-bio{
    text-align: center;
    padding: 5%;
}
.background-picture{
    height: 300px;
    background-image: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 180vh;
}
.highlites{
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 180vh;
}
.highlites-header{
    text-align: center;
    padding: 5%;
}
.highlites-bio{
    padding-left: 5%;
    padding-top: 5%;
}
.highlites-author{
    padding-left: 5%;
}
.highlites-author-2{
    padding-left: 5%;
}
.contact{
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    padding: 1%;
    text-align: center;
}
.compositions{
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 180vh;
}
.compositions-header{
    text-align: center;
    padding: 7%;
    padding-bottom: 0;
}
.right-text{
    text-align: right;
}
.contactMe{
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 180vh;
    text-align: center;
    padding: 7%;
    margin: 0;
}
.contactTelephone{
    padding-top: 3%;
}
.contactMeText{
    padding: 2%;
    width: 40%;
    margin: auto;
}
.first-container-book{
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 180vh;
    padding: 5%;
    padding-top: 8%;
    margin: 0;
}
.book-picture{
    text-align: center;
    width: 100%;
    margin: auto;
}
.book-shop{
    width: 40%;
    margin: auto;
    display: block;
    padding: 4%;
}
.contact-book{
    background-color: #393c3d;
    text-align: center;
}
.book-bio{
    padding: 5%;
}
@media (max-width: 1024px) {
    .profile-picture{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding:10%;
        padding-bottom: 3%;
        width: 90%;
    }
    .telephone{
        width: 300px;
        padding-left: 10%;
        text-align: center;
    }
    .compositions-text{
        text-align: center;
    }
    .contactMeText{
        width: 90%;
    }
    .book-picture{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%; /* Adjust the percentage as needed */
    }
}

